/*
app variables
*/

:root {
	/* background colors */
	--action-key-color: #545454;
	--action-key-color-hover: #2a2a2a;
	--calculator-background-color: #696969;
	--display-background-color: #1d1f1f;
	--number-key-color: #696969;
	--number-key-color-hover: #3f3f3f;
	--submit-key-color: #d18800;
	--submit-key-color-hover: #aa6e00;

	/* font */
	--main-font: 'Orbitron', sans-serif;

	/* font colors */
	--display-text-color: #23e000;
	--key-text-color: #d3d3d3;

	/* font sizes */
	--display-text-size: 4em;
	--key-text-size: 3em;

	/* font weights */
	--display-text-weight: 400;
	--key-text-weight: 700;

	/* calculator dimensions */
	--calculator-height: 72%;
	--calculator-width: 36%;

	/* display dimensions */
	--display-height: 24%;
	--display-width: 92%;

	/* keypad dimensions */
	--keypad-height: 72%;
	--keypad-width: 96%;
}

/*
  media query for tablet or smaller screen
  */

@media screen and (max-width: 1024px) {
	:root {
		/* font sizes */
		--display-text-size: 10em;
		--key-text-size: 6em;

		/* calculator dimensions */
		--calculator-height: 100%;
		--calculator-width: 100%;
	}
}

/*
  app CSS reset
  */

body,
div,
p {
	margin: 0;
	padding: 0;
}
